@import '../../../variables.scss';

.Group-Image{
  height: 100px;
  width: 100px;
}

.Profile{
  @include background-reset;
}

.Profile-Head{
  height: 15vh;
  // background: #efeeee;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  color: white;
  @media screen and (max-width: 825px) and (max-height: 415px) {
    padding-top: 70px;
    padding-bottom: 25px;
  }
}

.Profile-Image{
  height: 6rem;
  width: 6rem;
  margin-left: 10px;
}

.Profile-Head-Text-Hold{
  // color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2.5%;
  align-items: flex-end
}

.Profile-Head-Group-Name{
  font-size: 2rem;
}

.video-group-hold{
  display: flex;
  width: 100%;
  justify-content: space-around;
@media screen and (max-width: 900px) {
  flex-direction: column-reverse;
  padding-left: 25px;
}
}

.favorite-video{
  width: 480px;
  height: 270px;
  @media screen and (max-width: 1300px) {
    width: 350px;
    height: 197px;
  }
}

.header-text{
  font-size: 2rem;
  color: $primary;
  margin-bottom: 15px;
}

.groups-hold{
  width: 33.33vw;
  @media screen and (max-width: 900px) {
    width: 80%;
  }
}

.profile-group-card{
  display: flex;
  padding: 10px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  max-width: 100%;
}

.button-text-hold{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 15px;
}

.group-card-name{
  font-size: 2rem;
  color: white;
  max-width: 350px;
  @include ellipse;
  @media screen and (max-width: 1200px) {
    max-width: 250px;
    font-size: 1.8rem;
  }
  @media screen and (max-width: 800px) {
    font-size: 1.8rem
  }
  @media screen and (max-width:600px) {
    max-width: 250px;
    font-size: 1.5rem
  }
  @media screen and (max-width: 470px){
    max-width: 200px;
    font-size: 1rem;
  }
}

.leave-button{
  background: transparent;
  font-size: 1rem;
  padding: 0;
  
}

.leave-button:hover{
  color: $primary
}

.leave-icon{
  margin-left: 10px;
}

.song-form-hold{
  width: 33.33vw;
  display: flex;
  flex-direction: column;
}


