@import '../../../../variables.scss';

.Old-Song{
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  align-items: center;
  @include video-sizing
}

.old-song-button{
  background: transparent;
  padding: 0 5px;
  :hover{
    color: $primary;
  }
}

.old-song-title{
  font-size: 1.2rem;
  max-width: 80%;
  @include ellipse;
  padding: 10px 0;
  @media screen and (max-width: 340px) {
    max-width: 220px;
    font-size: 0.8rem;
  }
}

.old-load-hold{
  margin: 0 0.3rem;
}