@import '../../../variables.scss';

.Create-Group{
  background: $neutral;
  width: 90vw;
  height: 92vh;
}

.File-Drop{
  position: relative;
  width: 200;
  height: 200;
  border-width: 7;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28;
}