@import '../../../variables.scss';

.Create-Group{
  @include background-reset;
}

.File-Drop{
  position: relative;
  width: 200px;
  height: 200px;
  border-width: 7;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28;
}

.dropzone{
  height: 200px;
  width: 200px;
  cursor: pointer;
}