@import '../../../variables.scss';

@mixin video-hold-reset{
  margin-left: 5%;
  margin-top: 1%;
  box-shadow: black 0 0 10px; 
  width: 640px;
  height: 360px;
}

@mixin video-player-responsive{
@media screen and (max-width: 800px) {
  width: 480px;
  height: 270px;
}
@media screen and (max-width:600px) {
  width: 320px;
  height: 180px;
  margin-top: 20px;
}
@media screen and (max-width: 400px){
  width: 240px;
  height: 135px;
}
@media screen and (max-width: 340) {
  width: 180px;
  height: 101px;
}
}

.loading{
  width: 360px;
  height: auto;
  @include video-sizing
}

.Playlist{
  @include background-reset;
  color: white;
  position: relative;
}

.Playlist-Head{
  height: 10vh;
  // background: #efeeee;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  color: white;
}

.white-line-head{
  border: 1px solid white;
  width: 80%;
  margin: 5% 0;
}

.Playlist-Head-Image{
  height: 5rem;
  width: 5rem;
  margin-left: 10px;
  margin-right: 3%;
  margin-top: 1%;
  @media screen and (max-width: 600px) {
    height: 4rem;
    width: 4rem;
  }
  @media screen and (max-width: 340px) {
    height: 2rem;
    width: 2rem;
  }
}

.Playlist-Head-Text-Hold{
  // color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2.5%;
  align-items: flex-end
}

.Playlist-Head-Group-Name{
  font-size: 2rem;
  @include header-sizing;
}

.Playlist-Head-Joincode{
  font-size: 1.2rem;
  @media screen and (max-width: 600px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 340px) {
    font-size: 0.8rem;
  }
}

.YouTube-Player{
@include video-hold-reset;
@include video-player-responsive;
}

.no-video-hold{
  @include video-hold-reset;
  background-image: url('https://s3-us-west-1.amazonaws.com/socialplaylists/Hero+Images/v2ptext.png');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .no-video-text{
    font-size: 1.5rem;
    @media screen and (max-width: 340px) {
      font-size: 1rem;
      padding-top: 15px;
    }
  };
  @include video-player-responsive

}

.not-host-div{
  @include video-hold-reset;
  background: $primary;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 135%;
  display: flex; 
  flex-direction: column;
  @include video-player-responsive;

  .white-box-thumb{
    z-index: 1;
    position: absolute;
    background: rgba(255, 255, 255, 0.698);
    width: 100%;
    height: 100%;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    .white-box-thumb-text{
      color: black;
      font-size: 2rem;
      @media screen and (max-width:340px) {
        font-size: 0.8rem;
      }
    }
  }
}





