@import '../../../variables.scss';

@mixin video-hold-reset{
  margin-left: 5%;
  margin-top: 1%;
  box-shadow: black 0 0 10px; 
  width: 640px;
  height: 360px;
}

.loading{
  height: 360px;
}

.Playlist{
  @include background-reset;
  color: white;
  position: relative;
}

.Playlist-Head{
  height: 10vh;
  // background: #efeeee;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  color: white;
}

.white-line-head{
  border: 1px solid white;
  width: 80%;
  margin: 5% 0;
}

.Playlist-Head-Image{
  height: 6rem;
  width: 6rem;
  margin-left: 10px;
}

.Playlist-Head-Text-Hold{
  // color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2.5%;
  align-items: flex-end
}

.Playlist-Head-Group-Name{
  font-size: 2rem;
}

.Playlist-Head-Joincode{
  font-size: 1.2rem;
}

.YouTube-Player{
@include video-hold-reset
}

.no-video-hold{
  @include video-hold-reset;
  background-image: url('https://s3-us-west-1.amazonaws.com/socialplaylists/Hero+Images/v2ptext.png');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .no-video-text{
    font-size: 1.5rem;
  }

}

.not-host-div{
  @include video-hold-reset;
  background: $primary;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 135%;

  .white-box-thumb{
    z-index: 1;
    position: absolute;
    background: rgba(255, 255, 255, 0.698);
    width: 100%;
    height: 100%;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    .white-box-thumb-text{
      color: black;
      font-size: 2rem;
    }
  }
}





