@import '../../../../variables.scss';

.Song{
  display: flex;
  // border: 2px solid yellow;
  width: 640px;
  padding-bottom: 5px;
  padding-top: 5px;
  // margin-bottom: 5px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin-right: 25px;
  @include video-sizing;
  @media screen and (max-width: 600px){
    height: 80px;
  }
}

.thumbnail{
  height: 80px;
  width: 106px !important;
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.song-text-hold{
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.song-title-text{
  font-size: 1.2rem;
  max-width: 40vw;
  @include ellipse;
  @media screen and (max-width: 600px) {
    max-width: 300px;
    font-size: 1rem;
  }

  @media screen and (max-width: 380px) {
    max-width: 220px;
    font-size: 0.8rem;
  }
}

.score-text{
  font-size: 1rem;
}

.vote-button{
  background: transparent;
  font-size: 1.2rem;
  padding: 0 15px;
  :hover{
    color: $primary
  }
}

.vote-done{
  color: $primary
}



