@import '../../../variables.scss';

li{
  cursor: pointer;
}

.Sidebar{
  padding-top: 8vh;
  display: flex;
}

.sidebar-menu-hold{
  height: 92vh;
  background: $tertiary;
  width: 10vw;
  color: white;
}

