@import '../../../variables.scss';

li{
  cursor: pointer;
}

.Sidebar{
  padding-top: 8vh;
  display: flex;
  
}

.sidebar-menu-hold{
  width: 10vw;
  min-width: 144px;
  height: 92vh;
  background: $tertiary;
  color: white;
}

