@import '../../variables.scss';

// HERO

.hero-hold{
  background: $neutral;
  height: 90vh;
  background-image: url('https://s3-us-west-1.amazonaws.com/socialplaylists/Hero+Images/Hero+color+record.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10vh;
}

.white-box{
  height: 80%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  // bottom: 20%

}

.hero-head{
  color: black;
  font-size: 5rem;
}

.hero-detail{
  font-size: 1.5rem;
  margin: 2% 0;
}

.to-register{
  @include button-reset;
  font-size: 2rem;
}

// REGISTER

.register-form{
  display: flex;
  flex-direction: column;
}

.register-instructions{
  width: 33%;
}

.register{
  background: $neutral;
  // @include background-color;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.register-form-hold{
  // border: 2px solid $secondary;
  width: 33%;
  
}

.register-form{
  padding: 14%;
}


.instructions-hold{
  background: $secondaryneutral;
  height: 40vh;
}

.register-input{
  @include input-reset;
  margin-bottom: 5%;
  color: black;
  border-bottom: 2px solid black;
}

.register-button{
  @include button-reset;
  width: 40%;
  margin-top: 5%;
}

// INSTRUCTIONS