@import '../../variables.scss';

@mixin background-image-scale{
  @media screen and (max-width:780px) {
    background-size: 120%;
  }
  @media screen and (max-width: 650px) {
    background-size: 135%;
  }
  @media screen and (max-width: 550px) {
    background-size: 150%;
  }
  @media screen and(max-width: 480px) {
    background-size: 165%
  }
  @media screen and (max-width: 415px) {
    background-size: 180%
  }
  @media screen and (max-width: 400px) {
    background-size: 200%;
  }
}

// HERO

.hero-hold{
  background: $neutral;
  height: 90vh;
  background-image: url('https://s3-us-west-1.amazonaws.com/socialplaylists/Hero+Images/Hero+color+record.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10vh;
  position: relative;
}

.white-box{
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  margin-top: -10vh;
  @media screen and (max-width: 700px) {
    height: 100%;
  }
  // bottom: 20%

}

.hero-head{
  color: black;
  font-size: 5rem;
  @media screen and (max-height: 600px) {
    font-size: 3.5rem;
  }
}

.hero-detail{
  font-size: 1.5rem;
  margin: 2% 0;
  @media screen and (max-height: 600px) {
    font-size: 1.3rem;
  }
}

.to-register{
  @include button-reset;
  font-size: 2rem;
  @media screen and (max-height: 600px) {
    font-size: 1.3rem;
  }
}

.mobile-logo{
  display: none;
  @media screen and (max-width: 700px){
    display: inline
  }
}

// REGISTER

.register-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5% 14%;
  margin-left: 10%;
  height: 100% !important;
  @media screen and (max-width:550px){
    max-width: 100% !important;
    padding: 5% 5%;
  }
}

.register-instructions{
  // @include background-color;
  
  width: 20%;
  height: 100%;
  // box-shadow: black 0 0 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  // border: 1px solid black
  @media screen and(max-width:550px) {
    display: none;
  }
}

.register-instructions-text{
  // color: white;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
}

.register{
  background: rgb(178, 180, 176);
  // @include background-color;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('https://s3-us-west-1.amazonaws.com/socialplaylists/Hero+Images/2girlsheadphones.jpeg');
  background-position: left;
  background-size: 100%;
  background-repeat: no-repeat;
  @include background-image-scale;
  @media screen and (max-width: 1030px){
    background-size: 120%
  }
  @media screen and (max-width:550px) {
  background-size: 200%;
  justify-content:flex-end;
  height: 80vh;
  }
  @media screen and (max-width: 480px) {
    background-size: 225%;
  }
  @media screen and (max-width: 415px) {
    background-size: 240%
  }
  @media screen and (max-width: 380px) {
    background-size: 260%;
  }
}

.register-form-hold{
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.80) 80%, transparent);
  width: 60%;
  height: 100% !important;
  
  @media screen and (max-width: 750px) {
    width: 80%;
  }
  @media screen and (max-width: 550px) {
    width: 100% !important;
  }
}





.register-input{
  @include input-reset;
  margin-bottom: 5%;
  color: black;
  border-bottom: 2px solid black;
}

.register-button{
  @include button-reset;
  width: 20%;
  min-width: 112px;
}

.register-image{
  height: 100%;
  width: 100%;
}

.Playlist-Example{
  height: 70%;
  width: auto;
  box-shadow: black 0 0 10px;
}

// INSTRUCTIONS

.desktop-show{
  background-image: linear-gradient(to right, #233653 70%, transparent);
  height: 100%;
  width: 60%;
  

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;

}

.instructions-image{
  height: 60%;
  margin-left: 10%;
  box-shadow: black 0 0 10px;
  @media screen and (max-width:480px) {
    height: 40%;
  }
}

.instructions{
  display: flex;
  height: 60vh;
  background: $secondary;
  background-image: url('https://s3-us-west-1.amazonaws.com/socialplaylists/Hero+Images/Vinylfriends.jpeg');
  background-position: -120% 15%;
  background-size: 120%;
  background-repeat: no-repeat;
  @include background-image-scale;
  @media screen and (max-width: 550px) {
    background-position: -50% 15%;
  }
  @media screen and (max-width: 415px) {
    background-position: -30% 15%;
  }
  @media screen and (max-width: 400px) {
    background-position: -15% 15%;
  }
}

.instructions-text-hold{
  width: 10vw;
}

.instructions-text{
  font-size: 1.5rem;
  color:white;
  text-align: center;
  margin-left: 5%;
  margin-bottom: 25px;
}