@import '../../variables.scss';

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  position: fixed;
  width: 100vw;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.20);
}

.logo-hold{
  font-size: 2em;
  margin-left: 5%;
  display: flex;
  align-items: center;
}

.Header{
  display: flex;
  align-items: center;
}

.logo-image{
  height: 80%;
  padding-top: 7%;
}

.logo{
  color: #b6a552;
}

.login-form-hold{
  margin-right: 5%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.login-form{
display: flex;
width: 100%;
justify-content: flex-end;
@media screen and (max-width: $break-large) {
  flex-wrap: wrap;
  width: 40%;
}
}

.login-input{
  @include input-reset;
  border-bottom: 1px solid black;
  // color: white;
  margin: 0 5%;
  @media screen and (max-width: $break-large) {
    margin: 0;
  }
}

.login-button{
  @include button-reset
}