@import '../../variables.scss';

.Header {
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  position: fixed;
  width: 100vw;
}

.logo-hold{
  font-size: 2em;
  margin-left: 5%;
}

.logo{
  color: #b6a552;
}

.login-form-hold{
  margin-right: 5%;
}