@import '../../../variables.scss';

.Dashboard{
  // border: 1px solid green;
  width: 90vw;
  min-height: 92vh;
  background: $neutral
}

.cards-hold{
  display: flex;
  flex-wrap: wrap;
  // margin-top: 2rem;
}

.Group-Card{
  border: 1px solid black;
  height: 20rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3rem;
  background: $secondaryneutral;
  margin-top: 2rem;
}

.Join-Card{
  margin-right: 2rem;
}

.card-image{
  width: 80%;
  height: 45%;
}
