@import '../../../variables.scss';

.Dashboard{
  // border: 1px solid green;
  @include background-reset;
  position: relative;
}

.cards-hold{
  display: flex;
  flex-wrap: wrap;
  max-width: 90vw;
  padding-bottom: 2rem;
  // margin-top: 2rem;
}

// .white-line-dash{
//   border: 1px solid white;
//   width: 80%;
//   margin-left: 1%;
//   margin-top: 1%;
// }

.group-text{
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 1%;
  padding-right: 3%;
  text-align: right;
}

.Group-Card{
  // border: 1px solid black;
  height: 15rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-left: 3rem;
  // background: $secondaryneutral;
  margin-top: 2rem;
  position: relative;
  // border: 1px solid black;
  box-shadow: black 0 0 10px ;
  @media screen and (max-width: 500px) {
    height: 12rem;
    width: 12rem;
  }
}

.Group-Card-Bottom{
  background: rgba(255, 255, 255, 0.85);
  z-index: 1;
  width: 100%;
  height: 33%;
  text-align: center;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid black;
}

.group-name{
  font-size: 1.1rem;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 5%;
  font-weight: 700;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.Join-Card{
  margin-right: 2rem;
}

.card-image{
  width: 15rem;
  height: 15rem;
  position: absolute;
  @media screen and (max-width: 500px) {
    height: 12rem;
    width: 12rem;
  }
}
