@import '../../../variables.scss';

.Dashboard{
  // border: 1px solid green;
  width: 85vw;
  min-height: 100vh;
  background: $secondary
}

.cards-hold{
  display: flex;
  flex-wrap: wrap;
  max-width: 90vw;
  // margin-top: 2rem;
}

.Group-Card{
  // border: 1px solid black;
  height: 15rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-left: 3rem;
  // background: $secondaryneutral;
  margin-top: 2rem;
  position: relative;
  // border: 1px solid black;
}

.Group-Card-Bottom{
  background: rgba(255, 255, 255, 0.85);
  z-index: 1;
  width: 100%;
  height: 33%;
  text-align: center;
  font-size: 1rem;
  // border: 1px solid black;
}

.group-name{
  font-size: 1.25rem;
  text-decoration: underline;
  margin-bottom: 5%;
  font-weight: 700;
}


.Join-Card{
  margin-right: 2rem;
}

.card-image{
  width: 15rem;
  height: 15rem;
  position: absolute;
}
