$primary: #EE5622;
$secondary: #477998;
$tertiary: #1F2123;
$neutral: #D1C5C5;
$secondaryneutral: #798080;
$green: #4b5b3d;

$break-large: 900px;

@mixin input-reset {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  // color: white;
  font-size: 16px;
}

@mixin button-reset{
  padding: 10px 25px;
  color: white;
  background: $primary;
  border-radius: 500px;
  cursor: pointer;
}

@mixin background-reset{
  width: 85vw;
  min-height: 100vh;
  background: rgb(18,23,31);
  background-image: linear-gradient(to left top, rgb(0, 0, 0) 10%, rgba(21,45,84,1) 40%, rgb(47, 62, 82) 100%);
}

@mixin background-color{
  background: rgb(18,23,31);
  background-image: linear-gradient(to left top, rgba(18,23,31,1) 0%, rgba(21,45,84,1) 40%, rgb(47, 62, 82) 100%);
}

@mixin ellipse {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin video-sizing{
  @media screen and (max-width: 800px) {
    max-width: 480px
  }
  @media screen and (max-width:600px) {
    width: 320px;
  }
  @media screen and (max-width: 400px) {
    width: 240px;
  }
  @media screen and (max-width: 340px){
    width: 180;
  }
}

@mixin header-sizing{
  @media screen and (max-width: 600px){
    font-size: 1.5rem;
  }
  @media screen and (max-width: 340px){
    font-size: 1rem;
  }
}

@mixin scrollbar {
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
}
