$primary: #8B3F41;
$secondary: #354255;
$tertiary: #1F2123;
$neutral: #D1C5C5;
$secondaryneutral: #798080;
$green: #4b5b3d;

$break-large: 900px;

@mixin input-reset {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  // color: white;
  font-size: 16px;
}

@mixin button-reset{
  padding: 10px 25px;
  color: white;
  background: $primary;
  border-radius: 500px;
  cursor: pointer;
}
