@import '../../../../variables.scss';

.List{
  margin-left: 5%;
  margin-top: 1%;
  
}

.now-playing-text{
  font-size: 2.5rem;
  color: $primary
}

.now-playing-title{
  font-size: 2rem;
  font-style: italic;
  max-width: 49vw;
  @include ellipse;
  // border: 2px solid green;
  
}

.white-line-playlist{
  border: 1px solid white;
  width: 60%;
  margin: 1% 0
}

.playlist{
  display: flex;
}

.previously-played{
  width: 30vw;
  // border: 1px solid yellow;
  height: 360px;
  overflow-y: auto;
  position: absolute;
  bottom: 50.3vh;
  left: 48vw;
}

.previously-played-text{
  font-size: 2.5rem;
  color: $primary;
  margin-bottom: 10px;
}

.add-song-input{
  border-bottom: 1px solid black;
  font-size: 1.5rem;
}

.add-song-button{
  font-size: 1.5rem;
  background: transparent;
  padding: 5px;
}