@import '../../../../variables.scss';

.List{
  margin-left: 5%;
  margin-top: 1%;
  
}

.now-playing-text{
  font-size: 2.5rem;
  color: $primary
}

.now-playing-title{
  font-size: 2rem;
  font-style: italic;
  max-width: 640px;
  @include ellipse;
  // border: 2px solid green;
  
}

.white-line-playlist{
  border: 1px solid white;
  width: 640px;
  margin: 1% 0
}

.playlist{
  // display: flex;
}

.previously-played{
  width: 30vw;
  margin-right: 10vw;
  // border: 1px solid yellow;
  height: 360px;
  overflow-y: auto;
  position: absolute;
  top: 10.7vh;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: 1737px) {
    margin-right: 5vw;
    right: 25px;
  }
  @media screen and (max-width: 1500px) {
    margin-right: 0;
  }
  @media screen and (max-width:1330px) {
    position: static;
    width: 640px;
    margin-top: 30px;
  }
}

.previously-played-text{
  font-size: 2.5rem;
  color: $primary;
  margin-bottom: 10px;
}

.add-song-input{
  border-bottom: 1px solid black;
  font-size: 1.5rem;
}

.add-song-button{
  font-size: 1.5rem;
  background: transparent;
  padding: 5px;
  :hover{
    color: $primary
  }
}
