@import '../../../../variables.scss';

.List{
  margin-left: 5%;
  margin-top: 1%;
  
}

.now-playing-text{
  font-size: 2.5rem;
  color: $primary;
  @media screen and (max-width: 800px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 340px) {
    font-size: 1rem;
    padding-top: 15px;
  }
}

.now-playing-title{
  font-size: 2rem;
  font-style: italic;
  max-width: 640px;
  @include ellipse;
  // border: 2px solid green;
  @include video-sizing;
  @media screen and (max-width:800px) {
    font-size: 1.5rem;
    padding-top: 10px;
  }
  @media screen and (max-width:340px) {
    font-size: 1rem;
    padding-top: 10px;
  }
}

.white-line-playlist{
  border: 1px solid white;
  width: 640px;
  margin: 1% 0;
  @include video-sizing;
  @media screen and (max-width: 800px) {
    margin-bottom: 10px;
  }
}

.playlist{
  padding-bottom: 25px;
}

.previously-played{
  
  // border: 1px solid yellow;
  height: 360px;
  overflow-y: auto;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.previous-chat-hold{
  width: 30vw;
  margin-right: 10vw;
  position: absolute;
  top: 10.7vh;
  right: 50px;
  @media screen and (max-width: 1737px) {
    margin-right: 5vw;
    right: 25px;
  }
  @media screen and (max-width: 1500px) {
    margin-right: 0;
  }
  @media screen and (max-width:1330px) {
    position: static;
    height: auto;
    max-height: 360px;
    width: 640px;
    margin-top: 30px;
  }
  @include video-sizing
}

.previously-played-text{
  font-size: 2.5rem;
  color: $primary;
  margin-bottom: 10px;
  @media screen and (max-width: 800px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 340px) {
    font-size: 1rem;
    padding-top: 15px;
  }
}

.add-song-input{
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  @media screen and (max-width: 600px) {
    width: 80%;
  }
  @media screen and (max-width: 340px) {
    font-size: 1rem;
    padding-top: 15px;
  }
}

.add-song-button{
  font-size: 1.5rem;
  background: transparent;
  padding: 5px;
  :hover{
    color: $primary
  }
}
